.LoadingContainer {
  background-color: white;
  box-shadow: 0px 5px 16px 0px rgba(173, 200, 215, 0.25);
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
