.FooterContainer {
  display: flex;
  justify-content: center;

  .LoadMoreButton {
    background-color: #0c2340;
    color: white;
    border-radius: 8px;
    padding: 8px 24px;
    border: 1px solid #0c2340;
    font-weight: bold;
    cursor: pointer;
  }
}
